<mat-card class="sera">
    <mat-card-header>
        <mat-card-title> {{ descricao.nomeLista }}</mat-card-title>
        <mat-card-subtitle>Total: {{descricao.totalFinal }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
       
        <!-- <button mat-icon-button >
            <mat-icon svgIcon="iconeDeletar"></mat-icon>
        </button> -->
        <div class="btns">
            <button mat-raised-button color="warn" title="Deletar Lista" (click)="cliqueEmRemover()">
                <mat-icon>remove_shopping_cart</mat-icon>
            </button>
            
            <button mat-raised-button color="primary" id="btn_modo_mercado" title="Entrar no Modo Mercado" (click)="entrarModoMercado(descricao)">
                <mat-icon>local_grocery_store</mat-icon>
            </button>
            <button mat-raised-button color="accent" title="Editar Lista" (click)="editarLista()">
                <mat-icon>edit</mat-icon>
            </button>

        </div>

       

    </mat-card-content>
</mat-card>