
.mat-card{
    --cinzaForte: #424242;
    --cinzaFraco: #949494;
    max-width: 50vw;
    height: 25vh;
    margin: 2vh 2vw ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--cinzaFraco);
}

.mat-card-header {
    display: flex;
    justify-content: center;
}

.mat-card-header  .mat-card-title{
    font-size: 40px;
    margin: 10px;
    margin-bottom: 25px;
    font-size: 2em;
}

.mat-card-subtitle{
    color: var(--cinzaForte);
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
}

.mat-card-content{
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btns{
    display: flex;
    justify-content: center;
}

#btn_modo_mercado{
    /* width: 147px; */
}
button{
    /* border: 0px; */
    display: inline-block;
    width: 1vw;
    margin:10px;

}
.mat-icon{
    padding:0 ;
}

@media (max-width: 500px){
    .mat-card{
        max-width: 60vw;
    }
}