div{
    display: flex;
    justify-content: center;
}
p{
    --cinzaForte: #424242;
    --cinzaFraco: #949494;
    background-color: var(--cinzaForte);

    position: absolute;
    bottom: 10px;

    color:white;
    width: 5vw;
    height: 2vh;

}