div{
    display: flex;
    justify-content: center;   
    align-items: center;
    vertical-align: middle;
    width: 80vw;
    height: 10vh;
    margin: auto;
    
} 
p{
    margin-top: 2vh;
    --cinzaForte: #424242;
    --cinzaFraco: #949494;
    background-color: var(--cinzaForte);

    color: white;
    width: 70vw;
    height: 8vh;
    text-align: center;
    vertical-align: middle;
    
    border-radius: 50px;
    font-size: 1em;
}

a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    
    
}