*{background-color: yellow;}
h1{
    text-align: center;
}
nav{
    margin-bottom:10px;
    display: flex;
    justify-content: center;
}
span{
    padding: 10px;
    margin: 10px;
}

a{
    text-decoration: none;
    color: black;
    font: 20px sans-serif;
    border: 2px solid black;
}
